/* Center content */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 75vh;
    border: 2px solid #00FF00;
}  

 

/* Make all text green */
body {
    color: #00FF00;
}
  
/* Add a black background */
body {
background-color: #000000;
}

/* Apply a monospace font, which is typical for terminals */
body {
font-family: 'Lucida Console', 'Courier New', monospace;
background-color: black;
}

/* Style headings in green as well, with a bottom border */
h1, h2, h3 {
color: #00FF00;
border-bottom: 2px solid #00FF00;
}

/* Change link colors to be visible on the black background */
a {
color: #00FF00;
}

/* Styling for navigation bar */
nav {
background-color: #00FF00;
padding: 1em;
font-size: larger;
font-weight: bold;
text-align: center;
position: sticky;
top: 0;
}

nav ul {
list-style-type: none;
margin: 0;
padding: 0;
}

nav ul li {
display: inline-block;
margin-right: 1em;
}

nav a {
    color: black;
    text-decoration: none;
    padding: 0.5em;
    transition: padding 0.1s ease-out;
    }

nav a:hover {
    color: #0f0;
    background-color: #000;
    padding: 1.5em;
    transition: background-color 0.1 ease-out, padding 0.1s ease-out;
}

/* Footer styling */
footer {
color: #0f0;
padding: 0em;
text-align: center;
position: absolute;
bottom: 0;
}

/* footer logo styling */
.icons {
    display: inline-block;
    margin-top: 1em;
    justify-content: center;
    align-items: center;
  }
  
  .icons a i{
    color: #0f0;
    font-size: 1.5em;
    margin: 0 20px;
    transition: all 0.2s ease-out;
  }
  
  .icons a:hover i:hover{
    cursor: pointer;
    transform: scale(1.2);
  }

  .icons a img{
    color: #0f0;
    font-size: 5em;
    margin: 0 20px;
    transition: all 0.2s ease-out;
  }

  footer img{
    position: relative;
    top: 3px;
  }
  
  .icons a:hover img:hover{
    cursor: pointer;
    transform: scale(1.2);
  }

